#my-map {
  height: 400px;
  width: 100%;
}

#go-to-paris {
  padding: 8px;
  border-style: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.btn-container {
  margin: 18px;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}
