#my-map {
    height: 400px;
    width: 100%;
}

.info-item {
    line-height: 2;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #555;
}

.info-item .title {
    display: block;
    color: #4d9da9;
    font-weight: 500;
    background: url('https://developers.woosmap.com/img/Punaise_WGS_V3.png') no-repeat top left;
    background-size: auto 58px;
    padding-left: 70px;
}

.quiet {
    color: #888;
}

small {
    font-size: 80%;
}